body{
    background-image: url('./v.p.b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.books{
  text-align: center;
  padding: 130px;
}
.mouseover:hover {
  background-color: #1504aa;
  
  color: white;
  display: inline-block;
  padding: 2px 25px;
  text-align: center;
  width: 52%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  

  .text{
    font-weight:bold;
    color: black;
  }
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  